//
// Breadcrumbs
// ===========
//

ol.breadcrumbs

  // Links to parent sections
  li
    a(href='#') Home
  li
    a(href='#') Section
  li
    a(href='#') Sub-section

  // If the current page itself is to be included, it doesn't need to ba a link
  li Page Title

